@model IEnumerable<Cf_Viewmodels.PriceProductebytypesVM>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = $"{Model.Sum(i => i.totalprice)} فاتوره رقم";
}

<!-- Styling -->
<style>
     body {
        background-image: url('Images/Screenshot 2024-06-27 180933.png');
        background-size: contain; /* Change to 'contain' to fit within the body */
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
    }
     body {
        font-family: Arial, sans-serif;
    }

    .custom-table {
        width: 100%;
        max-width: 800px;
        margin: auto;
/*         background-color: #fff;
 */        border-collapse: collapse;
        margin-bottom: 20px;
    }

        .custom-table thead {
            background-color: #ad8313 !important;
        }

        .custom-table th, .custom-table td {
            background-color: #ad8313 !important;
            background-color: #ad8313 !important;
        }

    .table-container {
        display: flex;
        justify-content: center;
        padding: 20px;
/*         background-color: #f9f9f9;
 */    }

    #buttonprint {
        text-align: center;
        margin-top: 20px;
    }

    @@media print {
        header, #buttonprint, .Save, #notpayed {
            display: none !important;
        }

        .table-container {
            margin: 0;
            padding: 0;
        }

        .custom-table {
            width: 100%;
            margin: 0;
        }
    }
</style>

<partial name="_AlertMessage" />

<p id="notpayed" style="font-weight:bold; text-align:center;">عرض الفواتير الاجل</p>
<p style="text-align:center;">@DateTime.Now</p>

<div class="table-container">
    <table class="table custom-table" style="background-color: #ad8313 !important;">
        <thead>
            <tr>
                <th>العميل</th>

                <th>اسم المنتج</th>
                <th>الكمية</th>
                <th>النوع</th>
                <th>السعر</th>

                <th>تعديل الكميه</th>
                <th>الحذف من الفاتوره</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ClientName</td>

                    <td>@item.ProductName</td>
                    <td>@item.ShopingCaterQantity</td>
                    <td>@Servess.DescriptionEnum.GetDescription(item.Catid)</td>
                    <td>@item.totalprice</td>

                    <td class="col-4">
                        <form method="post" asp-controller="PriceProductebytypes" asp-action="UpdateShopingCaterNotpayedHistory" asp-area="Admin" class="form-inline Save">
                            <input type="hidden" id="ShopingCaterId" name="ShopingCaterId" value="@item.ShopingCaterId" asp-for="@item.ShopingCaterId" />
                            <input type="hidden" id="Id" name="Id" value="@item.Id" asp-for="@item.Id" />
                            <input type="hidden" id="ProductId" name="ProductId" value="@item.ProductId" asp-for="@item.ProductId" />
                            <div class="form-group d-flex align-items-center Save">
                                <input type="number" min="1" class="form-control mr-2 Save" id="ShopingCaterQantity" name="ShopingCaterQantity" placeholder="الكميه" style="width:150px;" />
                                <button class="btn btn-success creditButton" type="submit">تعديل</button>
                            </div>
                        </form>
                    </td>
                    <td>
                        <a class="btn btn-danger flex-grow-1 ml-1 Save" asp-area="Admin" asp-action="DeleteNopayed" asp-route-Id="@item.ShopingCaterId">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">الإجمالي:</td>
                <td>@(Model?.Sum(i => i.totalprice) ?? 0) جنيه</td>
                <td colspan="3"></td>
 

            </tr>
        </tfoot>
    </table>
</div>

<div id="buttonprint">
    <button id="printButton" class="btn btn-primary">طباعة الفاتوره</button>
    <a class="btn btn-success Save" asp-area="Admin" asp-action="FreeShopingCaterCashHistoryToNotpayed" asp-route-CustomerType="@ViewBag.CustomerType">حفظ الفاتوره</a>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var headerElement = document.getElementsByTagName('header')[0];
        var buttonprint = document.getElementById("buttonprint");
        var notpayed = document.getElementById("notpayed");

        document.getElementById("printButton").addEventListener("click", function () {
            // Hide the header
            headerElement.style.display = 'none';

            // Hide elements with class 'Save'
            document.querySelectorAll('.Save').forEach(function (element) {
                element.style.display = 'none';
            });

            // Hide the print button and title
            buttonprint.style.display = 'none';
            notpayed.style.display = 'none';

            // Print the page
            window.print();

            // Restore the visibility of the header and the print button
            headerElement.style.display = 'block';
            buttonprint.style.display = 'block';
            notpayed.style.display = 'block';

            // Restore the visibility of elements with class 'Save'
            document.querySelectorAll('.Save').forEach(function (element) {
                element.style.display = 'inline-block';
            });
        });
    });
</script>
