@model X.PagedList.IPagedList<Cf_Viewmodels.PriceProductebytypesVM>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "";
}
<!-- Modal HTML -->
<div id="customModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="modalMessage"></div>
    </div>
</div>
@{
    var typ = (C_Utilities.Enumes.CustomerType?)ViewBag.CustomerType ?? C_Utilities.Enumes.CustomerType.OtherPeople;
    var description = Servess.DescriptionEnum.GetDescription(typ);
}

<h1 style="font-weight:bold;">
    الاسعار: @description
</h1>
<style>
    body {
        background-image: url('Images/Screenshot 2024-06-27 180933.png');
        background-size: contain; /* Change to 'contain' to fit within the body */
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
    }
 
     
    .shopping-bag {
        background-color: #f8f9fa; /* Example background color */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    /* Add CSS styles for the background image */

 
    /* Card Styles */
    .product-card {
        border: 1px solid #dee2e6;
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s ease;
    }


  
        .product-card:hover {
            transform: translateY(-5px);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
/*         background-color:  goldenrod !important;
 */    }

        .product-card img {
            width: 100%;
            height: auto;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
    }

        .product-card   {
           
            background-color: #ad8313 !important;
        }

    .product-details {
        padding: 1.25rem;
    }

    .product-title {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .product-price {
        font-size: 1rem;
        color: #007bff;
        margin-bottom: 0.5rem;
    }

    .product-category {
        font-size: 0.875rem;
        color: #6c757d;
    } 
    
    .shopping-bag {
        font-size: 0.875rem;
        background-color: saddlebrown;
    }
</style>
<div class="shopping-bag">

    <img src="~/Images/WhatsApp Image 2024-06-23 at 18.02.40_35881d78.jpg" class="circular-img" width="100"  style="margin-right:500px;" />
    <!-- Add the search input form -->
    <form method="get" asp-controller="PriceProductebytypes" asp-action="GetProductbytyp" asp-area="Admin" class="mt-4">
        <div class="input-group mt-4">
            <input type="hidden" class="form-control" name="CustomerType" value="@ViewBag.CustomerType">
            <input type="text" class="form-control" name="ProductName" placeholder="بحث..." aria-label="Search" aria-describedby="button-addon2" id="search-input">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="button-addon2">بحث</button>
            </div>
        </div>
    </form>



 <br />
 <br />
  
        <div>

            <a class="btn btn-danger" asp-area="Admin" asp-action="GetProductbytyp" asp-route-CustomerType="@ViewBag.CustomerType" asp-route-Catid="@C_Utilities.Enumes.CategoryType.HotDrink">بحث مشروبات ساخنه  </a>
            <a class="btn btn-primary" asp-area="Admin" asp-action="GetProductbytyp" asp-route-CustomerType="@ViewBag.CustomerType" asp-route-Catid="@C_Utilities.Enumes.CategoryType.ColdDrink"> بحث مشروبات بارده</a>
            <a class="btn btn-success" asp-area="Admin" asp-action="GetProductbytyp" asp-route-CustomerType="@ViewBag.CustomerType" asp-route-Catid="@C_Utilities.Enumes.CategoryType.Addon"> اضافات  </a>
            <a class="btn btn-success" asp-area="Admin" asp-action="GetProductbytyp" asp-route-CustomerType="@ViewBag.CustomerType" asp-route-Catid="@C_Utilities.Enumes.CategoryType.Eating">    بحث الاكلات </a>
            <a class="btn btn-success" asp-area="Admin" asp-action="GetProductbytyp" asp-route-CustomerType="@ViewBag.CustomerType" asp-route-Catid="">  عرض   كل المنتجات</a>
        </div>
    <br />

    <div>
        <a class="btn btn-primary" asp-area="Admin" asp-action="GetallfromShopingCart" asp-route-CustomerType="@ViewBag.CustomerType" asp-route-Catid="">  عرض الفاتوره الكاش</a>
        <a class="btn btn-dark" asp-area="Admin" asp-action="GetallfromShopingCartNopayed" asp-route-CustomerType="@ViewBag.CustomerType" asp-route-Catid="">  عرض الفاتوره الاجل</a>
  
 
       
    </div>


    <div class="container-fluid mt-4">
        <div class="row product-list">
            @foreach (var product in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ">
                    <div class="card product-card h-100">
                        <div class="card-body">
                            <h5 class="card-title">@product.ProductName</h5>
                            <p class="card-text">السعر: @product.price جنيه</p>
                            <p class="card-text">الكميه المتوفره: @product.QantityInStore</p>
                            <p class="card-text">النوع: @Servess.DescriptionEnum.GetDescription(product.Catid)</p>
                        </div>
                        <div class="card-footer">
 
                            <form id="shoppingForm" class="form-inline">
                                <input type="hidden" id="Id" name="Id" value="@product.Id" asp-for="@product.Id" />
                                <input type="hidden" id="catId" name="catId" value="@product.Catid" asp-for="@product.Catid" />
                                <input type="hidden" id="price" name="price" value="@product.price" asp-for="@product.price" />
                                <input type="hidden" id="CustomerType" name="CustomerType" value="@product.CustomerType" asp-for="@product.CustomerType" />
                                <input type="hidden" id="ProductName" name="ProductName" value="@product.ProductName" asp-for="@product.ProductName" />
                                <input type="hidden" id="ProductId" name="ProductId" value="@product.ProductId" asp-for="@product.ProductId" />

                                <input type="number" min="1" class="form-control" id="ShopingCaterQantity" name="ShopingCaterQantity" placeholder="الكميه" />
                                <br />
                                <div class="col NotpayedUseridselected">
                                    <select value="NotpayedUserid" name="NotpayedUserid" class="form-select glass-select same-width NotpayedUserid" asp-items="@ViewBag.UsersLists"
                                            aria-required="true" data-placeholder=" العميل" style="z-index: 1;">
                                        <option value="">العميل</option>
                                    </select>
                                    <span asp-validation-for="@product.NotpayedUserid" class="text-danger"></span>
                                </div>
                                <br />
                                @if (product.CustomerType == @C_Utilities.Enumes.CustomerType.oprations)
                                {
                                    <div class="col  ">
                                        <select value="HospitalOroprationtypId" name="HospitalOroprationtypId" class="form-select glass-select same-width HospitalOroprationtypId" asp-items="@ViewBag.HospitalOroprationtypLists"
                                                aria-required="true" data-placeholder="  اختار نوع العميل" style="z-index: 1;">
                                            <option value="">نوع العميل </option>
                                        </select>
                                        <span asp-validation-for="@product.HospitalOroprationtypId" class="text-danger"></span>
                                    </div>

                                }
                           
                               
                                <br />
                                <div class="btn-group d-flex w-100 justify-content-between ml-2" role="group" aria-label="Product Type Buttons">
                                    <button class="btn btn-secondary flex-grow-1 mr-1 cashButton" type="button">كاش</button>
                                    <button class="btn btn-success flex-grow-1 ml-1 creditButton" type="button">اجل</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <!-- Adjust classes based on your styling framework -->
            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                <a class="page-link" asp-area="Admin" asp-action="GetProductbytyp" asp-route-CustomerType="@ViewBag.CustomerType" asp-route-productId="@ViewBag.productId" asp-route-page="1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" asp-action="GetProductbytyp" asp-route-CustomerType="@ViewBag.CustomerType" asp-route-productId="@ViewBag.productId" asp-route-page="@i">@i</a>
                </li>
            }
            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                <a class="page-link" asp-action="GetProductbytyp" asp-route-page="@Model.PageCount" asp-route-CustomerType="@ViewBag.CustomerType" asp-route-productId="@ViewBag.productId" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>


    <style>
        .pagination {
            background-color: #fff; /* White background */
            border-radius: 4px; /* Rounded corners */
            padding: 8px; /* Padding around the pagination */
        }

        .page-item {
            margin-right: 5px; /* Adjust spacing between pagination items */
        }

        .page-link {
            color: #007bff; /* Blue color for links */
            background-color: #fff; /* White background for links */
            border: 1px solid #dee2e6; /* Light border */
            padding: 6px 12px; /* Padding inside the link */
        }

            .page-link:hover {
                background-color: #f8f9fa; /* Light gray background on hover */
            }

        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #007bff; /* Blue background for active page */
            border-color: #007bff;
        }

        .page-item.disabled .page-link {
            color: #6c757d; /* Gray color for disabled links */
            pointer-events: none; /* Disable pointer events */
        }

    </style>
@*       <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                    <a class="page-link" asp-area="Admin" asp-action="GetProductbytyp" asp-route-CustomerType="@ViewBag.CustomerType" asp-route-productId="@ViewBag.productId" asp-route-page="1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                        <a class="page-link" asp-action="GetProductbytyp" asp-route-CustomerType="@ViewBag.CustomerType" asp-route-productId="@ViewBag.productId" asp-route-page="@i">@i</a>
                    </li>
                }
                <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                    <a class="page-link" asp-action="GetProductbytyp" asp-route-page="@Model.PageCount" asp-route-CustomerType="@ViewBag.CustomerType" asp-route-productId="@ViewBag.productId" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav> *@
 
 

 </div>
 
 
<!-- Modal HTML -->
<div id="customModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="modalMessage"></div>
    </div>
</div>

<style>
    /* Modal styles */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 30%; /* Could be more or less, depending on screen size */
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
</style>

@section Scripts {
    <script>
 
        document.addEventListener("DOMContentLoaded", function () {
            // Search functionality
            document.getElementById('search-input').addEventListener('keyup', function () {
                var searchText = this.value.toLowerCase();
                document.querySelectorAll('.product-card').forEach(function (card) {
                    var titleText = card.querySelector('.card-title').textContent.toLowerCase();
                    card.style.display = titleText.includes(searchText) ? '' : 'none';
                });
            });
            

           
            // Event listeners for cash and credit buttons
            document.querySelectorAll(".cashButton").forEach(function (cashButton) {
                cashButton.addEventListener("click", function () {
                  
                    submitFormcash(cashButton, "cash");
                });
            });

            document.querySelectorAll(".creditButton").forEach(function (creditButton) {
                creditButton.addEventListener("click", function () {
                    submitFormcredit(creditButton, "credit");
                });
            });


            function submitFormcash(button, paymentType) {
                const shoppingForm = button.closest("form");
                const quantityInput = shoppingForm.querySelector("#ShopingCaterQantity");
                const NotpayedUserid2 = shoppingForm.querySelector("#NotpayedUserid");
                console.log(NotpayedUserid2);

                const errorSpan = document.createElement("span");
                errorSpan.className = "text-danger error-message";
                errorSpan.textContent = "Please enter a quantity.";

                // Remove existing error messages
                const existingErrorMessage = shoppingForm.querySelector(".error-message");
                if (existingErrorMessage) {
                    existingErrorMessage.remove();
                }

                if (!quantityInput.value || quantityInput.value.trim() === "") {
                    // Display error message if quantity is not entered
                    quantityInput.parentNode.insertBefore(errorSpan, quantityInput.nextSibling);
                    return;
                }

               


                const formData = new FormData(shoppingForm);
                formData.append("paymentType", paymentType);

                fetch("/Admin/PriceProductebytypes/AddShopingCaterCashHistory", {
                    method: "POST",
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            showModal(data.message);
                        } else {
                            showModal("اختر العميل ");
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        showModal("اختر العميل");
                    });
            }



            function submitFormcredit(button, paymentType) {
                const shoppingForm = button.closest("form");
                const quantityInput = shoppingForm.querySelector("#ShopingCaterQantity");
                const NotpayedUserid2 = shoppingForm.querySelector("#NotpayedUserid");
                console.log(NotpayedUserid2);
                 
                const errorSpan = document.createElement("span");
                errorSpan.className = "text-danger error-message";
                errorSpan.textContent = "Please enter a quantity.";

                // Remove existing error messages
                const existingErrorMessage = shoppingForm.querySelector(".error-message");
                if (existingErrorMessage) {
                    existingErrorMessage.remove();
                }

                if (!quantityInput.value || quantityInput.value.trim() === "") {
                    // Display error message if quantity is not entered
                    quantityInput.parentNode.insertBefore(errorSpan, quantityInput.nextSibling);
                    return;
                }

                 // Now you can perform actions with the select element
                // if (NotpayedUserid2 === null) {
                //      console.log(1)
                //     showModal("اختر العميل ");

                //     return;

                // }

 
                const formData = new FormData(shoppingForm);
                formData.append("paymentType", paymentType);

                fetch("/Admin/PriceProductebytypes/AddShopingCaterNotpayedHistory", {
                    method: "POST",
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            showModal(data.message);
                        } else {
                            showModal("اختر العميل ");
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        showModal("اختر العميل");
                    });
            }

             

            // Get the modal
            var modal = document.getElementById("customModal");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // Function to show the modal with a message
            function showModal(message) {
                var modalMessage = document.getElementById("modalMessage");
                modalMessage.innerHTML = message;
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            // Event listener for shopping cart button
            document.getElementById("shoppingCartButton").addEventListener("click", function (e) {
                e.preventDefault(); // Prevent the default action of the button

                fetch("/Admin/PriceProductebytypes/GetallfromShopingCart", {
                    method: "GET",
                })
                    .then(response => response.text())
                    .then(data => {
                        // Update the content with the response
                        document.getElementById('shoppingCartContent').innerHTML = data;
                        console.log(data);
                        // Show the modal
                        $('#shoppingCartModal').modal('show');
                    })
                    .catch(error => {
                        console.error("Error:", error);
                    });
            });
        });
    </script>
}
