@model IEnumerable<Cf_Viewmodels.FinancialUserCashHistoryVM>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "Not Paid Money History";
}
<h1 class="centered-text" id="siting">
    عرض الكاش
</h1>
<form method="get" asp-controller="FinancialUserCashHistory" asp-action="Index" asp-area="Admin" class="mt-4">
    <div class="form-row justify-content-center">
        <div class="form-group col-md-4">
            <label for="payedAmount">بحث</label>
            <input type="number" class="form-control" name="payedAmount" placeholder=" ادخل رقم الفاتوره..." aria-label="Search" id="payedAmount">
        </div>
        <div class="form-group col-md-4 align-self-end">
            <button class="btn btn-primary w-100" type="submit">بحث</button>
        </div>
    </div>
</form>

<table class="table table-striped table-bordered w-100 mx-auto mt-4" id="financialTable" style="background-color: #ad8313 !important;">
    <thead class="thead-dark">
        <tr>
            <th>المدفوع</th>
            <th>الدفع</th>
            <th>وقت الشراء</th>
            <th class="Save">الحذف</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PayedTotalAmount</td>
                <td>@Servess.DescriptionEnum.GetDescription(item.PaymentStatus)</td>
                <td>@item.CreationTime</td>
                <td class="Save">
                    <a class="btn btn-danger ml-1" asp-area="Admin" asp-action="Delete" asp-route-Id="@item.Id">حذف</a>
                    <a class="btn btn-danger ml-1" asp-area="Admin" asp-controller="FinancialUserCashHistory" asp-action="Salesreturns" asp-route-id="@item.Id">مرتجع</a>
                    <a class="btn btn-info ml-1" asp-area="Admin" asp-controller="FinancialUserCashHistory" asp-action="SearchFinancialUserCashHistoryDetails" asp-route-Id="@item.Id">تفاصيل</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="buttonprint" class="text-center mt-4">
    <button id="printButton" class="btn btn-primary" style="display: none;">طباعة الفاتوره</button>
</div>

<partial name="_AlertMessage" />
<partial name="_PaginationPartial" model="Model" />

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('payedAmount').addEventListener('input', function () {
            var searchText = this.value.toLowerCase();
            var rows = document.querySelectorAll('#financialTable tbody tr');
            rows.forEach(function (row) {
                var payedTotalAmount = row.querySelector('td:nth-child(1)').textContent.toLowerCase();
                var paymentStatus = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
                var creationTime = row.querySelector('td:nth-child(3)').textContent.toLowerCase();

                if (payedTotalAmount.includes(searchText) || paymentStatus.includes(searchText) || creationTime.includes(searchText)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });
    });
</script>

<style>
    .form-inline {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

        .form-inline .form-group {
            margin-right: 10px;
        }

    .input-group {
        width: 100%;
    }

    .table {
        background-color: #ad8313 !important;
        width: 100%;
    }

        .table thead {
            color: white;
        }

        .table td, .table th {
            text-align: center;
            vertical-align: middle;
            background-color: #ad8313 !important;
        }
</style>
