@using static C_Utilities.Enumes
@model IEnumerable<Cf_Viewmodels.NotPayedmoneyHistoryVM>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = $"البيع اليومى للمستشفى      ";

}
<h1>@DateTime.Now</h1>


<!-- Styling -->
<style>
    /* Add your custom CSS styles here */
    .table-striped {
        /* Add styling for striped table */
    }

    .custom-table {
        width: 50%; /* Set table width to 50% */
    }

     .form-inline {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    .form-inline .form-group {
        margin-right: 10px;
    }

    .input-group {
        width: 100%;
    }

    .table {
        width: 100%;
    }

        .table thead {
            background-color: #343a40;
            color: white;
        }

        .table td, .table th {
            text-align: center;
            vertical-align: middle;
        }
</style>


<table class="table table-striped table-bordered w-100 mx-auto mt-4">
    <thead class="thead-dark">
        <tr>
            <th>اسم  العميل </th>
            <th>المنتج</th>
            <th>السعر</th> <!-- Corrected spelling -->
             <th> وقت عمل الفاتوره </th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>المستشفى</td>
                <td>@item.productName</td>
                <td>@item.CreationTime</td>
                <!-- Corrected typo in Quantity -->
                <td>@item.totalpricforanyproduct</td> <!-- Corrected typo in Quantity -->
           
           

            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">الإجمالي:</td>
 
            <td>@(Model?.Sum(i => i.totalpricforanyproduct) ?? 0) جنيه</td>



        </tr>
    </tfoot>
</table>



<div id="buttonprint">
    <button id="printButton" class="btn btn-primary"  >طباعة الفاتوره</button> <!-- Print button with an id -->



</div>
<script>
    // JavaScript to handle printing functionality
    document.getElementById("printButton").addEventListener("click", function () {
        var headerElement = document.getElementsByTagName('header')[0];
        headerElement.style.display = 'none';
        buttonprint.style.display = 'none';
        window.print(); // Print the table
        headerElement.style.display = 'block';
        buttonprint.style.display = 'block';
    });
</script>
